@charset "UTF-8";

/* Light theme color */
$light-background: #fff;
$light-background-secondary: #eaeaea;
$light-color: #224;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;
$light-header: #fafafa;

/* Dark theme colors */
$dark-background: #192030;
$dark-background-secondary: #333545;
$dark-color: #b9b9c3;
$dark-color-secondary: #c3c3cd;
$dark-border-color: #3e3e67;
$dark-table-color: #4e4e57;
$dark-header: #1b1c3d;
$dark-background-code: #212020;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;
